<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzKdIXpPZ7cKE-ae0WJWBHxCAxzxhL_rY</string>
	<key>GCM_SENDER_ID</key>
	<string>476297958174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.macalester.SocialLocations</string>
	<key>PROJECT_ID</key>
	<string>sociallocations-858fc</string>
	<key>STORAGE_BUCKET</key>
	<string>sociallocations-858fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476297958174:ios:7acc25a4d6d99ea2cbef0f</string>
</dict>
</plist>